<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Library Management System</a>
        <div class="navbar-nav ml-auto">
            <a class="nav-link disabled text-dark">Role: <span sec:authentication="principal.authorities"></span></a>
            <a class="nav-link disabled text-dark">User: <span sec:authentication="principal.username"></span></a>
            <form action = "#" th:action = "@{/logout}" method="post">
                <button type="submit" class="btn btn-link nav-link">Log Out</button>
            </form>
        </div>
    </nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Available Books</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="tempBook : ${bookList}">
                        <td th:text="${tempBook.title}"></td>
                        <td th:text="${tempBook.author}"></td>
                        <td th:text="${tempBook.genre}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Actions</h2>
            <div class="list-group">
                <a th:href="@{/books/manage}" class="list-group-item list-group-item-action">Manage Books</a>
                <a th:href="@{/librarians/manage}" class="list-group-item list-group-item-action" sec:authorize="hasRole('ADMIN')">Manage Librarians</a>
                <a th:href="@{/transactions/manage}" class="list-group-item list-group-item-action">Manage Transactions</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>