<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action = "@{/authenticateUser}" method="post">
        <div th:if = "${param.error}">
            <i>Please enter valid username or password!</i>
        </div>
        <div th:if = "${param.logout}">
            <i>You have logged out of the system!</i>
        </div>
        <label>Username</label>
        <input type="text" name="username" />
        <label>Password</label>
        <input type="text" name="password" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>